@page "/"

<PageTitle>Entrega del Proyecto Final</PageTitle>

<h1>SEGUNDA PRE-ENTREGA</h1>


<h2>GASTON TEJADA.-</h2>


<div style="text-align:center">
    <img src="~/images/sistema.jpg" alt="Sistema" style="max-width:800px;" />
</div>