@page "/productos/{id:int}/editar"
@inject ProductosService Service

<h3>Editar Producto</h3>

@if (Producto == null)
{
    <p>No existe el producto</p>
}
else
{
    <ProductosForm Producto="Producto" />
}

@code {
    
    [Parameter]
    public int Id { get; set; }

    private Producto? Producto;

    protected override async Task OnInitializedAsync()
    {        
        Producto = await Service.GetOneProduct(Id);
    }
}
